*{
    margin: 0;
    padding: 0;
}


/* ----- TAG SELECTORS ----- */

html{
    height: 100%;
    scroll-behavior: smooth;
}


/* ----- CLASS SELECTORS ----- */
.indexBody{
    position: relative;
    flex-direction: column;
    width: 100%;
    height: 200vh;
}

.indexBottom, .indexTop{
    flex: 1;
    height: 100vh;
}


/* TOP SECTION OF INDEX PAGE */
.indexTop{
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    width: 100vw;
    z-index: 0;
}

.indexTextContainer{
    background-color: #45474b;
    padding: 50px;
    color: #f5f7f8;
    font-size: 1.5rem;
    font-style: italic;
    opacity: 0;
}
.indexTextContainer h1{
    font-size: 6rem;
    color: #f4ce14;
}
.indexTextContainer p{
    opacity: 0;
}

.indexBackground{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.indexBackground path{
    animation: backgroundAnim 15s infinite;
    stroke-dasharray: 831px;
    stroke-dashoffset: 831px;
}

/* DOWN ARROW OF TOP INDEX PAGE */
.downArrow{
    color: #f5f7f8;
    font-size: 125px;
    position: absolute;
    bottom: 0;
    transition: all 0.05s;
}

.downArrow:hover{
    transform: scale(1.2);
    cursor: pointer;
}


/* BOTTOM SECTION OF INDEX PAGE */
.indexBottom{
    background-color: rgba(69,71,75,1);
    height: 100vh;
    width: 100%;
    position: absolute;
    bottom: 0;
    border-top: solid;
    border-color: #f5f7f8;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.indexBottom div{
    width: 400px;
    text-align: center;
    color: #f4ce14;
}

/* VERTICAL LINE ON INDEX PAGE FORM */
.vl {
    height: 500px;
    background-image: linear-gradient(to right, rgba(69,71,75,1), #f4ce14, rgba(69,71,75,1));
    border-radius: 100%;
    width: 2px !important;
    flex-grow: 0;
    flex-shrink: 0;
    border: 0;
}

/* FORMS STYLING */
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

input{
    width: 300px;
    height: 25px;
    margin-bottom: 20px;
    border: solid;
    border-style:groove;
    border-color: #f4ce14;
    padding: 10px;
    background-color: transparent;
    color: #EFEFEF;
}

.submitButton{
    width: 200px;
    height: 40px;
}

.submitButton:hover{
    background-color: rgba(245, 247, 248, 0.2);
    cursor: pointer;
}


/* Alert message */
.alertMessage{
    width: 100%;
    height: 10vh;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.close{
    font-size: 45px;
    color: #EFEFEF;
}

.close:hover{
    transform: scale(1.2);
    cursor: pointer;
}



/*-----  DASHBOARD  PAGE -------- */
.dashboardBody{
    background-color: #45474b;
    width: 100%;
    height: 100vh;
}

/* DASHBOARD BANNER STYLING */
.dashboardHeader{
    width: 100%;
    height: 15vh;
    box-shadow: 2px 2px 10px #EFEFEF;
    display: flex;
    gap: 15vw;
    font-size: 35px;
    align-items: center;
    color: #EFEFEF;
    z-index: 1;

}

.dashboardHeader h1{
    font-style: italic;
    color: #f4ce14;
    font-size: 25px;
}

.headerText{
    background-color: #45474b;
    box-shadow: 2px 2px 100px #45474b;
    opacity: 0;
}

.logo{
    background-color: #45474b;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12vw;
    height: 7vh;
    opacity: 0;
}
.dashboardBorder{
    margin-left: 50px;
    --b: 5px !important;
}


.headerBackground{
    position: absolute;
    z-index: -1;
    height: 15vh;
    width: 100%;
    animation-name: dashboardAnim;
    animation-fill-mode: forwards;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-timing-function: linear forwards;
    stroke-dasharray: 831px;
    stroke-dashoffset: 831px;
}

/* Main body of dashboard*/
.dashboardMainBody{
    width: 100%;
    height: 85vh;
    display: flex;
    gap: 100px;
    box-sizing: border-box;
    opacity: 0;
}

/* dashboard nav */
.dashboardNav{
    width: 20vw;
    padding: 50px;
    box-sizing: border-box;
    text-decoration: none;
    box-shadow: 5px 0px 5px -5px #EFEFEF;
}

.dashboardNav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dashboardNav ul li{
    font-size: 30px;
    cursor: pointer;
    color: #f4ce14;
    margin: 50px 0;
    display: flex;
    align-items: center;
    gap: 15px;
}

.dashboardNav ul li:hover{
    color: white;
}

.signOut{
    position: relative;
    bottom: -200px;
    left: -50px;
    width: 200px;
}

/* MOBILE NAV BAR FOR DASHBOARD */
.mobileNav{
    position: fixed;
    width: 100vw;
    height: 10vh;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    display: none;
}

.mobileNav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    list-style-type: none;
    padding: 0;
    font-size: 25px;
    color: #f4ce14;
}





/* BORDER ANIMATION FOR LOGO */
.border {
    --c: #ecc046;
    --b: 10px;
    --g: 5px;

    padding: calc(var(--g) + var(--b));
    --_g: #0000 25%,var(--c) 0;
    background: 
      conic-gradient(from 180deg at top    var(--b) right var(--b),var(--_g))
       var(--_i,200%) 0  /200% var(--_i,var(--b))  no-repeat,
      conic-gradient(            at bottom var(--b) left  var(--b),var(--_g))
       0   var(--_i,200%)/var(--_i,var(--b)) 200%  no-repeat;
    transition: .3s, background-position .3s .3s;
}
.borderActive {
    --_i: 100%;
    transition: .3s, background-size .3s .3s;
}




/* ----- ANIMATOINS ----- */
@keyframes backgroundAnim{
    0%{
        stroke-dashoffset: 831px;
    }
    20%{
        stroke-dashoffset: 0;
    }
    50%{
        stroke-dashoffset: 0;
    }
    80%{
        stroke-dashoffset: 0;
    }
    0%{
        stroke-dashoffset: -831px;
    } 
}

@keyframes dashboardAnim{
    to {
        stroke-dashoffset: 0;
    }
}






/* ----- MEDIA QUERIES ----- */
@media (max-width: 1200px) {
    /* CHANGE SIZES OF TEXT ON BANNER OF THE DASHBOARD */
    .headerText{
        font-size: 30px;
    }
    .logo>h1{
        font-size: 2vw;
    }
    .dashboardNav{
        padding: 25px;
        width: 30vw;
    }
    .dashboardNav ul li{
        font-size: 24px;
    }
}

@media (max-width: 800px) {

    /* CHANGE SIZES OF BANNER ON DASHBOARD PAGE */
    .headerText{
        display: none;
    }
    .logo{
        width: 40vw;
    }
    .logo>h1{
        font-size: 4vw;
    }
    .dashboardHeader{
        justify-content: center;
        width: 100vw;
    }
    .dashboardBorder{
        margin-left: 0;
    }
    .dashboardBody{
        width: 100vw;
    }
    .dashboardMainBody{
        width: 100vw;
    }
    .headerBackground{
        width: 100vw;
    }
    .dashboardVl{
        display: none;
    }
    .dashboardNav{
        display: none;/* HIDE DESKTOP NAV */
    }
    .mobileNav{
        display: flex;/* SHOW MOBILE NAV BAR */
    }
    


    /* Index bottom half / forms */
    .indexBody{
        height: 250vh;
    }
    .indexBottom{
        flex-direction: column;
        height: 150vh;
    }
    .vlIndex{
        height: 2px !important;
        width: 80vw !important;
    }

    /* Index top half/logo */
    .borderIndex{
        width: 80vw;
    }
    .indexTextContainer{
        font-size: 4vw;
    }
    .indexTextContainer h1{
        font-size: 10vw;
        color: #f4ce14;
    }
}

/* Galaxy Fold */
@media (max-width: 400px) {

    .vlIndex{
        width: 200px !important;
    }
    input{
        width: 150px;
    }
    .submitButton{
        width: 100px;
    }

    .indexBottom div{
        width: 100%;
    }

    .indexBottom{
        flex-direction: column;
    }

    .indexTextContainer{
        font-size: 15px;
        padding: 35px 1px;
    }

    .indexTextContainer h1{
        font-size: 40px;
    }
}