*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

/* STYLE SCROLLBAR */
::-webkit-scrollbar {
    width: 8px; 
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: grey; 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(69,71,75,0.5);
  }
  
/* ----- TAG SELECTORS ----- */

/* Remove styling from all anchor tags */
a{
    color: inherit;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* style svg images */
img{
    width: 100px;
    height: 100px;
    margin: 25px auto;
}

/* ----- CLASS SELECTORS ----- */
/* Style landing page index */
.indexBody{
    position: relative;
    flex-direction: column;
    width: 100%;
    height: 200vh;/* to fit exactly two panels */
}

.indexBottom, .indexTop{
    flex: 1;
    height: 100vh;
}


/* TOP SECTION OF INDEX PAGE */
.indexTop{
    background: radial-gradient(grey, black);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100vw;
    z-index: 0;
}

/* SLOGAN ON INDEX PAGE */
.indexTextContainer{
    background-color: transparent;
    padding: 50px;
    color: #f5f7f8;
    font-size: 1.5rem;
    font-style: italic;
    opacity: 0;
}
/* logo text */
.indexTextContainer h1{
    font-size: 6rem;
    color: #e8d4b6;
}

/* DOWN ARROW OF TOP INDEX PAGE */
.downArrow{
    color: #f5f7f8;
    font-size: 125px;
    position: absolute;
    bottom: 0;
    transition: all 0.05s;
}

.downArrow:hover{
    transform: scale(1.2);
    cursor: pointer;
}



/* BOTTOM SECTION OF INDEX PAGE */
.indexBottom{
    background-color: rgba(69,71,75,1);
    height: 100vh;
    width: 100%;
    position: absolute;
    bottom: 0;
    border-top: solid;
    border-color: #f5f7f8;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.indexBottom div{
    width: 400px;
    text-align: center;
    color: #e8d4b6;
}

/* VERTICAL LINE ON INDEX PAGE FORM */
.vl {
    height: 500px;
    background-image: linear-gradient(to right, rgba(69,71,75,1), #e8d4b6, rgba(69,71,75,1));
    border-radius: 100%;
    width: 2px !important;
    flex-grow: 0;
    flex-shrink: 0;
    border: 0;
}

/* FORMS STYLING */
.forms{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
/* REMOVE ALL STYLING FROM THE INPUT BUTTON ELEMENT */
button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.inputFields{
    width: 300px;
    height: 25px;
    margin-bottom: 20px;
    border: solid;
    border-style:groove;
    border-color: #e8d4b6;
    padding: 10px;
    background-color: transparent;
    color: #EFEFEF;
}

.passwordContainer{
    width: 300px !important;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

input{
    border: none;
    background-color: transparent;
    height: 100%;
    width: 100%;
    color: white;
}

input:focus{
    outline: none;
}

/* STYLE EYES ON INDEX FORMS */
.eye:hover{
    cursor: pointer;
}

.eye{
    font-size: 25px;
}

.openedEye1, .openedEye2{
    display: none;
}

.submitButton{
    width: 200px;
    height: 40px;
}

.submitButton:hover{
    background-color: rgba(245, 247, 248, 0.2);
    cursor: pointer;
}


/* Alert message */
.alertMessage{
    width: 100%;
    height: 10vh;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.close{
    font-size: 45px;
    color: #EFEFEF;
}

.close:hover{
    transform: scale(1.2);
    cursor: pointer;
}



/*-----  DASHBOARD  PAGE -------- */
/* main body of dashboard */
.dashboardBody{
    background: radial-gradient(rgba(128, 128, 128, 0.5), rgba(0, 0, 0, 0.5));
    background-color: grey;
    width: 100%;
    height: 100vh;
}

/* DASHBOARD BANNER STYLING */
.dashboardHeader{
    width: 100%;
    height: 15vh;
    display: flex;
    font-size: 35px;
    align-items: center;
    color: #EFEFEF;
    z-index: 1;
    position: static;
    background-color: rgba(0, 0, 0, 0.5);

}
/* logo */
.logo{
    background-color: #45474b;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12vw;
    height: 7vh;
    opacity: 0;
    font-style: italic;
    color: #e8d4b6;
    font-size: 15px;
}
.dashboardBorder{
    margin-left: 50px;
    --b: 5px !important; /* Make border thinner */
}


/* Main body of dashboard*/
.dashboardMainBody{
    width: 100%;
    height: 85vh;
    display: flex;
    box-sizing: border-box;
    opacity: 0;
}

/* dashboard nav */
.dashboardNav a{
    font-size: 30px;
    cursor: pointer;
    color: #e8d4b6;
    display: flex;
    align-items: center;
    position: fixed;
    top: 6%;
    right: 5%;
}

.dashboardNav a:hover{
    background-image: linear-gradient(#e8d4b6 0 0);
    background-position: bottom center; 
    background-size: 80% 2px; 
    background-repeat: no-repeat;
    padding-bottom: 4px;
}


/* MOBILE NAV BAR FOR DASHBOARD */
.mobileNav{
    position: fixed;
    width: 100vw;
    height: 10vh;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    display: none;
}

.mobileNav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    list-style-type: none;
    padding: 0;
    font-size: 25px;
    color: #e8d4b6;
}


/* List of noetbooks, 3 DIVS */
.notebookList{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    background-color: #45474b;
    flex: 1 1 0;
}


.notebookList h3{
    margin-top: 5px;
    background-position: bottom center; 
    background-size: 25% 2px; 
    background-repeat: no-repeat;
    padding-bottom: 4px;
}

/* Panels for the selection of pages and notebooks */
.panel{
    width: 100%;
    height: 35px;
    background-color: transparent;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: rgba(255, 255, 255, 0.8);
}

.panel h3{
    margin-left: 10px;
}

.panel a{
    font-size: 100px;
    color: rgba(232, 212, 182, 0.6)
}

.panel:hover{
    background-color: grey;
    cursor: pointer;
}

.activePanel{
    background-color: grey;
}

.plus{
    width: 100%;
    height: 100%;
    font-size: 40px !important;
}



/* PAGES DIV */
.pages{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    background-color: grey;
    flex: 1 1 0;
}
.pages h3{
    text-align: center;
}

.pages .panel:hover{
    background-color: transparent;
}

.notebookTitle{
    color:#e8d4b6;
    font-size: 27.5px;
    background-size: 25% 2px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.pagesContainer{
    display: flex;
    align-items: center;
}

.pagesContainer:hover{
    background-color: rgba(0, 0, 0, 0.5);
}
.pagesContainer2:hover{
    background-color: grey;
}
.plusPage:hover{
    background-color: rgba(0, 0, 0, 0.5);
}
.activePanel2{
    background-color: rgba(0, 0, 0, 0.5);
}
.left{
    flex-grow: 1;
}

.delete{
    display: none;
}
.deleteIcon{
    font-size: 20px;
    color:#e8d4b6;
}
.deleteIcon:hover{
    font-size: 25px;
    cursor: pointer;
}
.renameBookField{
    width: 60%;
    margin: auto;
}
.renameBookField:hover{
    caret-color: white;
    cursor: pointer;
}
.renameBookForm{
    display: flex;
    justify-content: center;
}
.renameBookForm label{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    color:#e8d4b6;
}
.renameBookForm label:hover{
    cursor: pointer;
    color: white;
}
#submitNewName{
    display: none;
}
.notebookNameContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.edit{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    color:#e8d4b6;
}
.edit:hover{
    cursor: pointer;
    color: white;
}






/* TEXT EDITOR */
.textEditor{
    background: radial-gradient(rgba(128, 128, 128, 0.5), rgba(0, 0, 0, 0.5));
    width: 100%;
    height: 100%;
    flex: 6 1 0;
    overflow-y: hidden;
}

.textEditorHeader{
    display: flex;
    height: 100px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    justify-content: space-between;
    align-items: center;
    color: rgba(255, 255, 255, 0.8);
    padding-left: 25px;
    padding-right: 25px;
    box-sizing: border-box;
}

.textEditorHeader button:hover, label:hover{
    color:#e8d4b6;
    cursor: pointer;
}

.textEditorHeader div{
    display: flex;
    gap: 25px;
    font-size: 10px;
}
#pageName{
    font-size: 35px;
}

#submitNewNamePage{
    display: none;
}
.renamePageForm{
    display: flex;
    flex-direction: row;
}
.renamePageForm label{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    color:#e8d4b6;
}
.renamePageForm label:hover{
    cursor: pointer;
    color: white;
}

/* CKEDITOR */
.ck-editor__editable {
    min-height: 71vh;
    max-height: 71vh;
    max-width: 75vw;
}




/* NEW BOOK/PAGE CONFIRMATION MESSAGE */
.new{
    position: fixed;
    z-index: 3;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.new>div{
    width: 500px;
    height: 250px;
    background-color:rgba(69,71,75,1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.new p{
    color: white;
}

.newButtons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50px;
    gap: 50px;
}

.newButtons input{
    width: 100px;
}




/* BORDER ANIMATION FOR LOGO */
.border {
    z-index: 2;
    --c: #e8d4b6;
    --b: 10px;
    --g: 5px;

    padding: calc(var(--g) + var(--b));
    --_g: #0000 25%,var(--c) 0;
    background: 
      conic-gradient(from 180deg at top    var(--b) right var(--b),var(--_g))
       var(--_i,200%) 0  /200% var(--_i,var(--b))  no-repeat,
      conic-gradient(            at bottom var(--b) left  var(--b),var(--_g))
       0   var(--_i,200%)/var(--_i,var(--b)) 200%  no-repeat;
    transition: .3s, background-position .3s .3s;
}
.borderActive {
    --_i: 100%;
    transition: .3s, background-size .3s .3s;
}






/* ----- MEDIA QUERIES ----- */
@media (max-width: 1200px) {
    /* CHANGE SIZES OF TEXT ON BANNER OF THE DASHBOARD */
    .headerText{
        font-size: 30px;
    }
    .logo>h1{
        font-size: 2vw;
    }
    .dashboardNav{
        padding: 25px;
        width: 30vw;
    }
    .dashboardNav ul li{
        font-size: 24px;
    }
}

@media (max-width: 800px) {

    /* CHANGE SIZES OF BANNER ON DASHBOARD PAGE */
    .headerText{
        display: none;
    }
    .logo{
        width: 40vw;
    }
    .logo>h1{
        font-size: 4vw;
    }
    .dashboardHeader{
        justify-content: center;
        width: 100vw;
    }
    .dashboardBorder{
        margin-left: 0;
    }
    .dashboardBody{
        width: 100vw;
    }
    .dashboardMainBody{
        width: 100vw;
    }
    .headerBackground{
        width: 100vw;
    }
    .dashboardVl{
        display: none;
    }
    .dashboardNav{
        display: none;/* HIDE DESKTOP NAV */
    }
    .mobileNav{
        display: flex;/* SHOW MOBILE NAV BAR */
    }
    


    /* Index bottom half / forms */
    .indexBody{
        height: 250vh;
    }
    .indexBottom{
        flex-direction: column;
        height: 150vh;
    }
    .vlIndex{
        height: 2px !important;
        width: 80vw !important;
    }

    /* Index top half/logo */
    .borderIndex{
        width: 80vw;
    }
    .indexTextContainer{
        font-size: 4vw;
    }
    .indexTextContainer h1{
        font-size: 10vw;
    }
}

/* Galaxy Fold */
@media (max-width: 400px) {

    .vlIndex{
        width: 200px !important;
    }
    input{
        width: 150px;
    }
    .submitButton{
        width: 100px;
    }

    .indexBottom div{
        width: 100%;
    }

    .indexBottom{
        flex-direction: column;
    }

    .indexTextContainer{
        font-size: 15px;
        padding: 35px 1px;
    }

    .indexTextContainer h1{
        font-size: 40px;
    }
}