<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevNote</title>
    <link rel="stylesheet" href="../static/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    
    <!-- ION ICONS -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>


<body class="dashboardBody">
    <!-- NEW NOTEBOOK CONFIRMATION -->
    <div class="newBook">
        <div>
            <form class="forms" action="/new-notebook" method="post">
                <p> Create new notebook </p>
                <input class="inputFields" required name="notebookName" maxLength="15" type="text" placeholder="Name of notebook*">
                <div class="newBookButtons">
                    <input class="submitButton inputFields" type="submit" value="Create">
                    <input class="submitButton inputFields" type="reset" value="Cancel" onClick="closeConfirmation();">
                </div>
            </form>
        </div>
    </div>

    <div class="dashboardHeader"> 
        <div class="border dashboardBorder">
            <div class="logo">
                <h1> DEV-NOTE </h1>
            </div>
        </div>

        <div class="dashboardNav">
            <ul>
                <li class="active"><a> Notebooks </a></li>
                <li><a> Settings </a></li>
                <li><a> Support </a> </li>
                <li><a href="/sign-out"> Sign-Out </a></li>
            </ul>
        </div>
    </div>

    <div class="dashboardMainBody">

        <div class="dashboardContent">

            {% if books %}
                {% for book in books %}
                    <!-- Each book will have its own form -->
                    <form action="/handle_book_click" method="post">
                        <input type="hidden" name="book_id" value="{{ book[0] }}">
                        <input type="hidden" name="user_id" value="{{ book[1] }}">
                        <!-- The book title is clickable and will submit the form -->
                        <button type="submit" class="panel">
                        </button>
                        <h3>{{ book[2] }}</h3>
                    </form>
                {% endfor %}
            {% endif %}

            <div class="panel newBookButton">
                <a class="plus"> <ion-icon name="add-outline"></ion-icon> </a>
            </div>
        </div>
    </div>


    <div class="mobileNav">
        <ul>
            <li><a class="active"> <ion-icon name="book-outline"></ion-icon></a></li>
            <li><a> <ion-icon name="settings-outline"></ion-icon></a></li>
            <li><a> <ion-icon name="alert-circle-outline"></ion-icon></a> </li>
            <li><a href="/sign-out"> <ion-icon name="log-out-outline"></ion-icon></a></li>
        </ul>
    </div>
    


</body>

<script>
     $(".newBook").hide();

    $(document).ready(function() {
        setTimeout(function() {
            $(".border").addClass("borderActive");
        }, 500);
    });

    setTimeout(function() {
            $(".logo").animate({opacity: 1});
    }, 750);

    setTimeout(function() {
        $(".dashboardNav").animate({opacity: 1});
    }, 1000);

    setTimeout(function() {
            $(".dashboardMainBody").animate({opacity: 1});
    }, 1250);



    function closeConfirmation(){
        $(".newBook").hide();
    }
    //Add event listener to new book button to show the new book confirmation window
    $(".newBookButton").on("click", function() {
        $(".newBook").show();
    })
</script>

</html>