<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevNote</title>
    <link rel="stylesheet" href="../static/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    
    <!-- ION ICONS -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>


<body class="dashboardBody">
    <!-- NEW NOTEBOOK CONFIRMATION -->
    <div class="new newBook">
        <div>
            <form class="forms" action="/new-notebook" method="post">
                <p> Create new notebook </p>
                <input class="inputFields" required name="notebookName" maxLength="15" type="text" placeholder="Name of notebook*">
                <div class="newButtons newBookButtons">
                    <input class="submitButton inputFields" type="submit" value="Create">
                    <input class="submitButton inputFields" type="reset" value="Cancel" onClick="closeConfirmation();">
                </div>
            </form>
        </div>
    </div>

    <!-- NEW PAGE CONFIRMATION -->
    <div class="new newPage">
        <div>
            <form class="forms" action="/new-page" method="post">
                <p> Create new page in: {{notebookName}} </p>
                <input class="inputFields" required name="page_name" maxLength="15" type="text" placeholder="Title of page*">
                <input type="hidden" name="book_id" value="{{ bookId }}">
                <div class="newButtons newPageButtons">
                    <input class="submitButton inputFields" type="submit" value="Create">
                    <input class="submitButton inputFields" type="reset" value="Cancel" onClick="closeConfirmation();">
                </div>
            </form>
        </div>
    </div>


    <div class="dashboardHeader"> 
        <div class="border dashboardBorder">
            <div class="logo">
                <h1> DEV-NOTE </h1>
            </div>
        </div>

        <div class="dashboardNav">
            <ul>
                <li class="active"><a> Notebooks </a></li>
                <li><a> Settings </a></li>
                <li><a> Support </a> </li>
                <li><a href="/sign-out"> Sign-Out </a></li>
            </ul>
        </div>
    </div>

    <div class="dashboardMainBody">

        <div class="dashboardContent">
            <img src="../static/img/notebook-bookmark-svgrepo-com.svg">

            {% if books %}
                {% for book in books %}
                <div class="pagesContainer pagesContainer2 {% if book[0]|string == bookId|string %}activePanel {% endif %}">
                    <form action="/open-book" method="post" class="left">
                        <input type="hidden" name="bookId" value="{{ book[0] }}">
                        <input type="hidden" name="userId" value="{{ book[1] }}">
                        <input type="hidden" name="bookTitle" value="{{ book[2] }}">

                        <button type="submit" class="left panel {% if book[0]|string == bookId|string %}activePanel {% endif %}">
                            <h3>{{ book[2] }}</h3>
                        </button>
                    </form>

                    <form action="/delete-notebook" method="post">
                        <input type="hidden" name="book_id" value="{{ book[0] }}">
                        <input id="deleteBook" class="delete" type="submit">
                        <label for="deleteBook" class="deleteIcon "> <ion-icon name="trash-outline"></ion-icon> </label>
                    </form>
                </div>
                {% endfor %}
            {% endif %}

            <div class="panel newBookButton">
                <a class="plus"> <ion-icon name="add-outline"></ion-icon> </a>
            </div>
        </div>

        <div class="pages">
            <img src="../static/img/page-document-my-page-empty-page-svgrepo-com.svg">

            {% if notebookName %}
                <h3 class="notebookTitle active"> {{ notebookName }} </h3>
                {% if pages %}
                    {% for page in pages %}
                        <div class="pagesContainer {% if page[0]|string == pageId|string %}activePanel2 {% endif %}" >
                            <form action="/open-page" method="post" class="left">
                                <input type="hidden" name="page_id" value="{{ page[0] }}">
                                <input type="hidden" name="user_id" value="{{ page[1] }}">
                                <input type="hidden" name="page_title" value="{{ page[2] }}">
                                <button type="submit" class="panel left">
                                    <h3>{{ page[2] }}</h3>
                                </button>
                            </form>

                            <form action="/delete-page" method="post">
                                <input type="hidden" name="page_id" value="{{ page[0] }}">
                                <input type="hidden" name="book_id" value="{{ bookId }}">
                                <input type="hidden" name="book_name" value="{{ notebookName }}">
                                <input id="delete" class="delete" type="submit">
                                <label for="delete" class="deleteIcon"> <ion-icon name="trash-outline"></ion-icon> </label>
                            </form>
                        </div>
                    {% endfor %}
                {% endif %}

                <div class="panel newPageButton">
                    <a class="plus plusPage"> <ion-icon name="add-outline"></ion-icon> </a>
                </div>

            {% endif %}

        </div>

        <div class="textEditor">
            {% if pageName %}
                <h3> {{pageName}} </h3>
            {% endif %}
        </div>

    </div>


    <div class="mobileNav">
        <ul>
            <li><a class="active"> <ion-icon name="book-outline"></ion-icon></a></li>
            <li><a> <ion-icon name="settings-outline"></ion-icon></a></li>
            <li><a> <ion-icon name="alert-circle-outline"></ion-icon></a> </li>
            <li><a href="/sign-out"> <ion-icon name="log-out-outline"></ion-icon></a></li>
        </ul>
    </div>
    


</body>

<script>
    $(".new").hide();
    function closeConfirmation(){
            $(".new").hide();
        }
        //Add event listener to new book button to show the new book confirmation window
        $(".newBookButton").on("click", function() {
            $(".newBook").show();
        })

        $(".newPageButton").on("click", function() {
            $(".newPage").show();
        })
</script>


{% if notebookName == null %}
    <script>
        $(document).ready(function() {
            setTimeout(function() {
                $(".border").addClass("borderActive");
            }, 500);
        });

        setTimeout(function() {
                $(".logo").animate({opacity: 1});
        }, 750);

        setTimeout(function() {
            $(".dashboardNav").animate({opacity: 1});
        }, 1000);

        setTimeout(function() {
                $(".dashboardMainBody").animate({opacity: 1});
        }, 1250);
    </script>

{% else %}
    <script>
        $(".newBook").hide();
        $(".border").addClass("borderActive");
        $(".logo").css('opacity', '1');
        $(".dashboardNav").css('opacity', '1');
        $(".dashboardMainBody").css('opacity', '1');
    </script>
{% endif %}

</html>