<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevNote</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>

    <!-- ION ICONS -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>


<body class="indexBody">

    <!-- ALERT MESSAGE -->
    {% if alertMessage %}
        <div class="alertMessage" style="background-color: {{ alertColor }};">
            <p> {{ alertMessage }} </p>
            <ion-icon name="close-outline" class="close" id="close"></ion-icon>
        </div>
    {% endif %}

    <div class="indexTop">

        <div class="border borderIndex">
            <div class="indexTextContainer">
                <h1> DEV-NOTE </h1>
                <p> A note taking application designed for developers. </p>
            </div>
        </div>
        

        <ion-icon class="downArrow" name="chevron-down-outline"></ion-icon>
    </div>

    <div class="indexBottom">
        <div>
            <form class="forms" action="/sign-in" method="post">
                <h1> Sign-In </h1>
                <input class="inputFields" required name="username" type="text" placeholder="Username*">
                <div class="passwordContainer inputFields">
                    <input id="password1" required name="password" type="password" placeholder="Password*">
                    <ion-icon class="eye eye1" name="eye-off-outline"></ion-icon>
                    <ion-icon class="eye openedEye1" name="eye-outline"></ion-icon>
                </div>
                <input class="submitButton inputFields" type="submit">
            </form>
        </div>

        <div class="vl vlIndex"></div>

        <div>
            <form class="forms" action="/register" method="post">
                <h1> Register </h1>
                <input class="inputFields" required name="fullName" type="text" placeholder="Full Name*">
                <input class="inputFields" required name="email" type="email" placeholder="Email*">
                <input class="inputFields" required name="username" type="text" placeholder="Username*">
                <div class="passwordContainer inputFields">
                    <input id="password2" required name="password" type="password" placeholder="Password*">
                    <ion-icon class="eye eye2" name="eye-off-outline"></ion-icon>
                    <ion-icon class="eye openedEye2" name="eye-outline"></ion-icon>
                </div>
                <input class="submitButton inputFields" type="submit">
                <p> <i> *Password must be at least 10 characters long, containing lower, upper, special characters and numbers</i> </p>
            </form>
        </div>
    </div>
</body>


<script>
    $(document).ready(function() {

        //Add click event listener to the ion icon to close alert message
        $("#close").click(function() {
            $(".alertMessage").css("display", "none");
        })

        $(".border").addClass("borderActive");

        setTimeout(function() {
            $(".indexTextContainer").animate({opacity: 1});
        }, 750);

        setTimeout(function() {
            $(".indexTextContainer p").animate({opacity: 1});
        }, 1400);
    });

    //Add on click, event listener to down arrow to scroll down to bottom of document.
    $(".downArrow").on("click", function() {
        $("html, body").animate({ scrollTop: $(document).height()}, 50);
    })


    //Add on click event listener to the EYES on the forms
    $(".eye1").on("click", function() {
        $(this).hide();
        $(".openedEye1").show();
        $("#password1").attr("type", "text");
    })

    $(".openedEye1").on("click", function() {
        $(this).hide();
        $(".eye1").show();
        $("#password1").attr("type", "password");
    })


    //REGISTRATION
    $(".eye2").on("click", function() {
        $(this).hide();
        $(".openedEye2").show();
        $("#password2").attr("type", "text");
    })

    $(".openedEye2").on("click", function() {
        $(this).hide();
        $(".eye2").show();
        $("#password2").attr("type", "password");
    })


</script>


</html>